db_user_s = jiemin
db_pwd_s = jiemin2017
db_host_s = 127.0.0.1
db_port_s = 3306
db_name_s = jiemin
db_user_d = jiemin
db_pwd_d = jiemin2017
db_host_d = 127.0.0.1
db_port_d = 3306
db_name_d = jiemin
mail_from_user = wangjiemin@*****.com.cn
mail_pwd = *******
mail_host = mail.*****.com.cn
//mail_port = ****
mail_to_user = ****@****.com.cn,****@****.com.cn,****@****.com.cn,****@****.com.cn
mail_cc_user = wangjiemin@****.com.cn
